*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
arousel-inner img{
    width: 100%;
    height: 90vh;
}
.about-img{
    width: 100%;
    height: 290px;
}
.footer{
    background-color: rgb(223, 215, 215);
}
.footer p .name{
    color: rgb(238, 75, 129);
}
